@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

// ****Global Ruleset
body{
  background-color: rgb(7,0,25);
  padding: 60px;
}
h1, h2, h3, span{
  color: #edf0f1;
  font-family: 'Londrina Solid', cursive;
}
h3{
  font-size: 22px;
}
h4{
  color: red;
  font-weight: 500px;
}
button{
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0,130,150,1);
  color: #edf0f1;
  border: 0px;
  font-family: 'Londrina Solid', cursive;
  transition-property: background;
  transition-duration: 350ms;
}
button:hover{
  background-color: rgba(0,130,150,0.8);
}

// ****User Documentation Ruleset
header{
  display: flex;
  justify-content: space-between;
}
.user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#signedIn{
  display: none;
}
section{
  text-align: right;
  margin-bottom: 10px;
}
span{
  color: #edf0f1;
}
// **** Main Ruleset
#user-options{
  text-align: center;
}
.start-options{
  display: none;

}
#game-button{
  display: none;
}
.options{
  margin: 0 20px;
  height: 40px;
  width: 100px;
}
main > h2{
  text-align: center;
}

// **** Gameboard Ruleset
.gameboard{
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin: auto;
}
.board{
  height: 100px;
  border-bottom: 1px solid #edf0f1;
  border-right: 1px solid #edf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  &:nth-child(3n){
    border-right: 0;
  }
  &:nth-last-child(-1n+3){
    border-bottom: 0;
  }
}

.gamepiece{
  margin: 0px;
  align-items: center;
  color: #edf0f1;
  font-size: 50px;
  font-weight: 500;
  font-family:'Kaushan Script', cursive;
  transition-property: font-size;
  transition-duration: 500ms;
}
.hover{
  background-color: rgba(0,130,150,0.3);
  cursor: pointer;
}
.cancelled{
  cursor: not-allowed;
}
.blink{
  background-color: rgba(46,204,113,0.2)
}

@media only screen and (max-width: 1000px){
  .user{
    width: 240px;
  }
  .box{
    width: 66%;
  }
  @media (max-width: 800px){
    #header-image > img{
      width: 200px
    }
  }
  @media (max-width: 600px){
    .board{
      height: 60px;
    }
    .gamepiece{
      font-size: 30px;
    }
  }
}
@media only screen and (min-width: 1000px){
  .box{
    width: 640px;
  }
}
