@import '~bootstrap/scss/bootstrap';

.gameboard{
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 66%;
}
.board{
  height: 8em;
  border: 1px solid black;
}
